h1 {
    color: blue;
    font-size: 3em;
}

h1:hover {
    color: green;
}

p:active {
    background-color: lightgray;
}

a {
    color:orange;
}

a:visited {
    color: gray;
}

img:hover {
    display: none;

}