p{
    background-color: grey;
    border: solid 2px green ;
}

p:first-child{
    height: 100px;
    padding: 20px;
    margin: 0px;
}

p:nth-child(2){
    width: 50%;
    padding: 1.2em;
    margin: 20px 5px;
}

p:last-child{
    width: 200px;
    height: 200px;
    padding: -30px;
    margin: auto;
}

body{
    background-color: purple;
    margin: 0;
}



