h1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

ul{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5,1fr);
    grid-column: 3;
    justify-items: center;
}



section{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr ;
}